{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width">
    <title>Stayways | Finding a long termrental accommodation made easy</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{%  static 'css/partical-animation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.min.css' %}">
    <link href="{%  static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- main background -->
    <div class="ui grid" >
        <div class="sixteen wide column masthead" >
            <div id="particles-js"></div>
            <div class="layer" >
                <div class="ui grid container ">
                    <div class="four wide column ">
                        <div class="logo"><img src="{% static "/logo.png" %}" alt="Stayways" height="40px"></div>
                    </div>
                    <div class="twelve wide column nav">
                        <div class="nav-buttons"><button id="sign" class=" ui  green button ">Sign Up</button></div>
                        <div class="nav-buttons"><button id="log" class="ui inverted button">Log In</button></div>
                        <div class="nav-buttons"><button class="ui inverted basic button">Host accommodation</button></div>
                    </div>
                </div>
                <div class="textarea">
                    <div class="ui grid center aligned ">
                        <!--<div class="sixteen wide column ">-->
                            <p class="heading">Stayways</p>
                            
                        <!--</div>-->
                    </div>
                    <div class="ui grid subtitle center aligned">
                    <p class="subtitle">Discover Long Term Accommodations</p>
                    </div>
                </div>
                <div class="ui grid searcharea center aligned ">
                    <!--<div class="two wide column"></div>-->
                    <!--<div class="four wide column hide-div"></div>-->
                    <!--<div class="eight wide column">-->
                        <div class="searchbar">
                            <div class="ui huge form">
                                <div class="two fields">
                                    <div class="fourteen wide field">
                                        <input type="text" placeholder="Where do you want to find accommodation?">
                                    </div>
                                    <div class="two wide field">
                                        <button class="huge ui blue button">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!--</div>-->
                    <!--<div class="four wide column hide-div"></div>-->
                    <!--<div class="two wide column"></div>-->

                </div>

            </div>



        </div>
        
                <a id="tohash" href="#services" class="ui icon bounce"><i class="big angle down icon "></i></a>
          
    </div>
    <!--after header -->

    <!--footer -->


    <!--signupmodal -->

    <div class="ui small modal " id="signup">
        <div class="header">Sign Up</div>
        
            <form action="/signup/" class="ui equal width form" method="post">
                {% csrf_token %}
                <div class="content">
                <div class="fields">
                    <div class="field">
                        <label>First Name</label>
                        <input type="text" name="first-name" placeholder="First Name">
                    </div>
                    <div class="field">
                        <label>Last Name</label>
                        <input type="text" name="last-name" placeholder="Last Name">
                    </div>
                </div>
                <div class="required field">
                    <label>E-mail</label>
                    <input type="email" placeholder="joe@schmoe.com">
                </div>
                <div class="required field">
                    <label>Password</label>
                    <input type="password">
                </div>
                <div class="required field">
                    <div class="ui  checkbox">
                        <input type="checkbox" name="terms">
                        <label>I agree to the Terms and Conditions</label>
                    </div>
                </div>


        </div>
        <div class="actions">
            <div class="ui approve green button">Register</div>
            <div class="ui cancel button">Cancel</div>
        </div>
        </form>
    </div>

    <!-- login modal  -->

    <div class="ui small modal " id="login">
        <div class="header">Log In</div>
        
            <form action="/login/" class="ui equal width form" method="post">
                {% csrf_token %}
                <div class="content">
                <div class="required field">
                    <label>E-mail</label>
                    <input type="email" placeholder="joe@schmoe.com">
                </div>
                <div class="required field">
                    <label>Password</label>
                    <input type="password">
                </div>
        </div>
        <div class="actions">
            <div class="ui approve blue button">Log In</div>
            <div class="ui cancel button">Cancel</div>
        </div>
        </form>
    </div>


    <script src="{% static 'js/semantic.min.js' %}">

    </script>
<script src="{% static 'js/script.js' %}">

</script>

<script>
    $('#signup')
        .modal('hide');

    $('#sign').click(function () {
        $('#signup')
            .modal({
                blurring: true
            })
            .modal('show')
            .modal({ backdrop: 'static', keyboard: false });
    });




    $('#login')
        .modal('hide');

    $('#log').click(function () {
        $('#login')
            .modal({
                blurring: true
            })
            .modal('show')
            .modal({ backdrop: 'static', keyboard: false });
    });




    $('.special.cards .image').dimmer({
        on: 'hover'
    });

</script>
<script src="{% static 'js/particles.min.js' %}"></script>
<script src="{% static 'js/partical-animation.js' %}"></script>
</body>

</html>